<launch>

  <!-- <include file="$(find ur5_pybullet_ros)/launch/ur5_pybullet_slam_navi.launch">
        <arg name="use_rviz" value="false"/>
  </include> -->
  <include file="$(find ur5_pybullet_ros)/launch/ur5_pybullet_amcl_navi.launch">
        <arg name="use_rviz" value="false"/>
  </include>

  <include file="$(find ur5_mobile_moveit)/launch/moveit_ur5_simple.launch"/>

  <!-- <include file="$(find ur5_pybullet_ros)/launch/ur5_octomap.launch"/>

  <node pkg="ur5_moveit" type="octomap_to_sence.py" name="octomap_to_sence"/> -->
</launch>